{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Survey</title>
  <link rel="stylesheet" type="text/css" href="{% static 'survey.css' %}">
  <script async src="{% static 'survey.js' %}"></script>
</head>

<body>
  <div class="container">
    <h1>Survey</h1>
    <form id="survey-form">

      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required><br><br>

      <label for="Gender">What gender do you identify as ?</label>
      <select id="Gender" name="Gender" required>
        <option value="" selected disabled>Select an option</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select><br><br>



      <label for="recommendation">How helpful were the recommendations?</label>
      <select id="recommendation" name="recommendation" required>
        <option value="" selected disabled>Select an option</option>
        <option value="very-helpful">Very helpful</option>
        <option value="somewhat-helpful">Somewhat helpful</option>
        <option value="not-helpful">Not helpful</option>
      </select><br><br>

      <label for="navigation">How easy was it to navigate the recommendation system?</label>
      <select id="navigation" name="navigation" required>
        <option value="" selected disabled>Select an option</option>
        <option value="very-easy">Very easy</option>
        <option value="somewhat-easy">Somewhat easy</option>
        <option value="not-easy">Not easy</option>
      </select><br><br>

      <label for="accuracy">How accurate were the recommendations?</label>
      <select id="accuracy" name="accuracy" required>
        <option value="" selected disabled>Select an option</option>
        <option value="very-accurate">Very accurate</option>
        <option value="somewhat-accurate">Somewhat accurate</option>
        <option value="not-accurate">Not accurate</option>
      </select><br><br>

      <label for="feedback">Are You Satisfied with the Recommendations Provided ?</label>
      <select id="feedback" name="feedback" required>
        <option value="" selected disabled>Select an option</option>
        <option value="yes">Yes , Definetely !</option>
        <option value="maybe">Maybe</option>
        <option value="no">No, not at all !</option>
      </select><br><br>


      <label for="recommend">Would you Recommend this to others?</label>
      <select id="recommend" name="recommend" required>
        <option value="" selected disabled>Select an option</option>
        <option value="yes">Yes , Definetely !</option>
        <option value="maybe">Maybe</option>
        <option value="no">No, not at all !</option>
      </select>

      <button type="submit"><a href="{% url 'thanks' %}">Submit</a></button>
    </form>
  </div>
</body>
</html>